/* App.css */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal overflow by default */
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1; /* Allows content to take available space */
  overflow-x: auto; /* Enable horizontal scrolling if needed */
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out forwards;
}


.marquee {
  width: 100%;
  white-space: nowrap;  /* Ensure content does not wrap */
  overflow: hidden;
  display: flex;
  align-items: center;  /* Align items vertically */
  height: 150px;  /* Set height to ensure it stays on one line */
}

.marquee-content {
  display: inline-block;
  animation: scroll 20s linear infinite;
}

.reverse .marquee-content {
  animation: scrollReverse 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scrollReverse {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}



.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
